extends ./head
block head
    .all-wrapper
        .header
            .navbar-wrapper
                a.navbar-title-wrapper(href='/')
                    .title-text#color1 Axolotl 
                    .title-text#color2 Robotics
                .navbar-items-wrapper
                    a.each-navbar-item(href='/team')= __('team')
                    .responsive-sidebar-icon#sidebar-button
                        .responsive-sidebar-icon-bar
                        .responsive-sidebar-icon-bar
                        .responsive-sidebar-icon-bar
        block content