extends ./head
block head
    .all-wrapper
        .header
            .navbar-wrapper
                a.navbar-title-wrapper(href='/')
                    .title-text#color AXOLOTL ROBOTICS
                .navbar-items-wrapper
                    .each-navbar-item Ana Sayfa
                    .content-arrow >
                    a.each-navbar-item-content Misyonumuz 
                    a.each-navbar-item-content Vizyonumuz 
                    a.each-navbar-item-content Hakkımızda
        .frosted-glass
        block content